body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ffebcd;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #fffaf0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

h1 {
    color: #333;
}

#quote-box {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafad2;
}

#quote {
    font-size: 1.2em;
    color: #555;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #87ceeb;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}

button:hover {
    background-color: #00bfff;
}

#copy-notification {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: #dff0d8;
    color: #3c763d;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}